<section>
    <div class="contact-wrapper">
        <div class="header">
            <h1>{{ 'CONTACT.TITLE' | translate }}</h1>
        </div>
        <div class="content">
            <div class="left-content">
                <h2>{{ 'CONTACT.PROBLEM' | translate }}</h2>
                <br><br>
                <p>{{ 'CONTACT.INTRO' | translate }}</p>
                <br>
                <h3>{{ 'CONTACT.NEED_DEV' | translate }} <b>{{ 'CONTACT.CONTACT_ME' | translate }}</b></h3>
            </div>

            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                @if(submitted && (name.invalid || (name.touched && !name.valid))){<span>{{ 'CONTACT.NAME_REQUIRED' |
                    translate }}</span>}
                <input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text" id="name"
                    placeholder="{{ 'CONTACT.NAME_PLACEHOLDER' | translate }}" required
                    [ngClass]="{'invalid':(!name.valid && (name.touched || submitted))}">

                @if(submitted && (email.invalid || (email.touched && !email.valid))){<span>{{ 'CONTACT.EMAIL_REQUIRED' |
                    translate }}</span>}
                <input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="email"
                    placeholder="{{ 'CONTACT.EMAIL_PLACEHOLDER' | translate }}" required
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                    [ngClass]="{'invalid': (!email.valid && (email.touched || submitted))}">

                @if(submitted && (message.invalid || (message.touched && !message.valid))){<span>{{
                    'CONTACT.MESSAGE_EMPTY' | translate }}</span>}
                <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message"
                    placeholder="{{ 'CONTACT.MESSAGE_PLACEHOLDER' | translate }}" required minlength="5"
                    [ngClass]="{'invalid': (!message.valid && (message.touched || submitted))}"></textarea>

                <div class="checkbox-wrapper">
                    <input type="checkbox" [(ngModel)]="contactData.acceptPolicy" name="privacy" #privacy="ngModel"
                        required [ngClass]="{'invalid': (!contactData.acceptPolicy || submitted)}" />
                    <label for="privacy">
                        {{ 'CONTACT.PRIVACY_READ' | translate }}
                        <a routerLink="/privacy-policy">{{ 'CONTACT.PRIVACY_POLICY' | translate }}</a>
                        {{ 'CONTACT.PRIVACY_AGREE' | translate }}
                    </label>
                </div>

                @if((privacy.touched || submitted) && !contactData.acceptPolicy) {
                <span>{{ 'CONTACT.ACCEPT_PRIVACY' | translate }}</span>
                }


                <button class="send-button" type="submit"
                    [ngClass]="{'inactive': !contactForm.valid || !contactData.acceptPolicy}">
                    {{ 'CONTACT.BUTTON_TEXT' | translate }}
                </button>

                <a href="#header"> <img class="arrow-top-icon" src="./../../../assets/img/arrow-top-icon.png"
                        alt="Arrow top">
                </a>
            </form>
            
            @if(feedbackMessage) {
                <div class="feedback-message" >
                    {{ 'CONTACT.FEEDBACK_SUCCESS_THANK_YOU' | translate}}  {{ contactData.name }}! {{ 'CONTACT.FEEDBACK_SUCCESS_MESSAGE' | translate }}
                </div>}
        </div>
    </div>
</section>