section {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url('./../../../assets/img/circle.png'), url('./../../../assets/img/circle.png'), url('./../../../assets/img/circle.png');
    background-size: 8%, 3%, 6%;
    background-position:
        70% 5%,
        85% 95%,
        20% 80%;
    background-repeat: no-repeat;

    h1 {
        font-family: 'Baloo 2';
        font-size: 5.625rem;
        font-weight: 800;
        color: #5988FF;
    }

    h2 {
        color: #5988FF;
        font-family: 'Montserrat';
        font-size: 2rem;
        font-weight: 700;
    }

    h3 {
        color: #5988FF;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 1rem;
    }

    p {
        color: black;
        font-family: 'Montserrat';
        font-size: 1rem;
        font-weight: 400;
    }

    img {
        height: 30px;
        width: 30px;
    }
}

.contact-wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 5% 8%;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

span {
    font-family: 'Montserrat';
    color: red;
    font-size: 1rem;
    min-height: 20px; 
    margin-top: -20px;
}

p {
    color: black;
    font-weight: 400;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
}

.left-content {
    width: 45%;
    margin-right: 15%;
}

.header {
    margin-bottom: 5%;
}

input,
textarea {
    font-family: 'Montserrat';
    border: 1px solid #5988FF;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    color: black;
    outline: none;

    &:hover {
        border: 2px solid #5988FF;
    }

    &:focus {
        background-image: url('./../../../assets/img/warning-icon.png');
        background-repeat: no-repeat;
        background-position: right 10px center;
    }

    &:valid {
        background-image: url('./../../../assets/img/check-icon.png');
        background-position: right 10px center;
        background-repeat: no-repeat;
    }

    &.invalid {
        background-image: url('./../../../assets/img/warning-icon.png');
        background-position: right 10px center;
        background-repeat: no-repeat;
    }
}

textarea {
    height: 100px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    color: black;
    font-family: 'Montserrat';
}

a {
    color: #5988FF;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        font-weight: bold;
    }
}

.arrow-top-icon {
    transition: transform 0.2s ease;

    &:hover {
        content: url('./../../../assets/img/arrow-top-icon-hover.png');
        transform: scale(1.1);
    }
}


@media (max-width:1605px) {
    button {
        margin-top: 20px !important;
    }
}

@media (max-width:800px) {
    h1 {
        font-size: 4rem !important;
    }

    h2 {
        font-size: 1.5rem !important;
    }

    button {
        font-size: 1rem !important;
        margin-top: 20px !important;
    }

    .contact-wrapper {
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media(max-width:600px) {

    .content {
        flex-direction: column;
        align-items: center;
    }

    .left-content {
        width: 100%;
        margin-right: 0%;
    }

    form {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    button {
        margin-top: 30px;
    }

    section {
        background-image: url('./../../../assets/img/circle.png'), url('./../../../assets/img/circle.png');
        background-size: 15%, 6%;
        background-position:
            90% 1%,
            85% 95%,
    }
}

@media(max-width:419px) {
    section {
        background-image: url('./../../../assets/img/circle.png'), url('./../../../assets/img/circle.png');
        background-size: 9%, 6%;
        background-position:
            90% 1%,
            85% 95%,
    }
}