section {
    display: flex;
    justify-content: center;
    width: 100%;

    h1 {
        font-family: 'Baloo 2';
        font-size: 90px;
        font-weight: 800;
        color: #5988FF;
    }

    h2 {
        color: #5988FF;
        font-family: 'Montserrat';
        font-size: 32px;
        font-weight: 700;
    }

    h3 {
        color: #5988FF;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
    }

    p {
        color: black;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 400;
    }

    img {
        height: 30px;
        width: 30px;
        margin-top: 50%;
    }
}

.contact-wrapper {
    display: flex;
    max-width: 1920px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 8%;
}

span {
    font-family: 'Montserrat';
    color: red;
    font-size: 16px;
}

p {
    color: black;
    font-weight: 400;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
}

input,
textarea {
    font-family: 'Montserrat';
    border: 1px solid #5988FF;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: black;

    &:hover {
        border: 2px solid #5988FF;
    }

    &:focus {
        border: 1px solid #5988FF;
        background-image: url('./../../../assets/img/warning-icon.png');
        background-repeat: no-repeat;
        background-position: right 10px center;
    }

    &:valid {
        border: 1px solid #5988FF;
        background-image: url('./../../../assets/img/check-icon.png');
        background-position: right 10px center;
        background-repeat: no-repeat;
    }

    &.invalid {
        background-image: url('./../../../assets/img/warning-icon.png');
        background-position: right 10px center;
        background-repeat: no-repeat;
    }
}

textarea {
    height: 100px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    color: black;
    font-family: 'Montserrat';
}

a {
    color: #5988FF;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        font-weight: bold;
    }
}