header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-family: 'Montserrat';
    background-color: white;
    position: relative;
    color: #5988FF;

    a {
        text-decoration: none;
    }

    img {
        position: absolute;
        top:0;
        z-index:10;
        width: 130px;
        padding-top: 20px;
    }
}

h1 {
    font-size: 5vh;
    font-family: 'Baloo 2';
}

section {
    width: 100%;
    max-width: 1920px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;

    a,
    span {
        position: relative;
        color: #5988FF;
        text-decoration: none;
        margin: 15px;
        transition: color 0.3s;
        font-size: 1.4375rem;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -5px;
            width: 0;
            height: 2px;
            background-color: #5988FF;
            transition: width 0.4s ease, left 0.4s ease;
        }

        &:hover {
            &::after {
                width: 100%;
                left: 0;
            }
        }
    }
}

.hamburger-icon {
    cursor: pointer;
    display: none; /* Standardmäßig ausblenden */
}

.hamburger-line {
    height: 4px;
    width: 30px;
    background-color: #5988FF;
    margin: 5px 0;
}

/* Standardstruktur für das Hamburger-Menü */
.hamburger-menu {
    display: none; /* Standardmäßig ausblenden */
    flex-direction: column;
}

.hamburger-menu a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

@media (max-width: 897px) {
    .hamburger-icon {
        display: block; /* Hamburger-Menü anzeigen */
    }

    .hamburger-menu {
        display: flex; /* Flexibles Layout für Menü */
        position: absolute; /* Optional: Positionierung */
        background-color: white; /* Hintergrundfarbe */
        top: 50px; /* Abstand vom Header */
        right: 0; /* Positioniert Menü nach rechts */
        border: 1px solid #ccc; /* Rahmen um das Menü */
        z-index: 1000; /* Sichtbarkeit über andere Elemente */
    }

    .hamburger-menu.d-none, nav {
        display: none; /* Ausblenden durch d-none */
    }
}