<header id="header">
    <section>
        <div>
            <a href="/"><img src="./../../../../assets/img/logo.png" alt="Logo"></a>
        </div>
        <nav>
            <a href="#about-me">{{ 'HEADER.ABOUT_ME' | translate }}</a>
            <a href="#skills">{{ 'HEADER.SKILLS' | translate }}</a>
            <a href="#my-work">{{ 'HEADER.MY_WORK' | translate }}</a>
            <span (click)="translate.switchLanguage('de')">{{ 'HEADER.LANGUAGE_DE' | translate }}</span>|
            <span (click)="translate.switchLanguage('en')">{{ 'HEADER.LANGUAGE_EN' | translate }}</span>
        </nav>
        <a class="responsive-menu" href="#responsive-menu">
            <div class="hamburger-icon">
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </div>
        </a>
    </section>
</header>