section {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    margin-left: 8%;
    scroll-margin-top: 250px;
    margin-top: 5%;
    position: relative;
}

p {
    color: #5988FF;
    font-size: 32px;
    font-weight: 800;
    font-family: 'Baloo 2';
}

span {
    margin-top: 1%;
    margin-bottom: 2%;
    color: black;
    font-family: 'Montserrat';
    font-size: 20px;
    text-align: right;
}

.portfolio-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8%;
}

.portfolio-headline {
    display: flex;
    align-items: center;
}

.left-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
}

h2 {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 400;
}

h3 {
    color: #5988FF;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.button-section {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.right-content {
    display: flex;
    justify-content: flex-start;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

.space-between-buttons {
    padding: 20px;
}

h1 {
    font-family: 'Baloo 2';
    color: #5988FF;
    font-size: 96px;
    margin-bottom: 2%;
}

.left-content-middle {
    display: flex;
    justify-content: flex-end;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;

    }
}

img {
    border-radius: 10px;
    width: 80%;
}

.right-content-middle {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

.text-align-left {
    text-align: left;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, #5988FF, #0043F0);
    opacity: 0.8;
}

.circle1 {
    height: 22%;
    width: 22%;
    bottom: 45%;
    left: -15%;
}

.circle2 {
    width: 7%;
    height: 7%;
    top: -5%;
    left: 28%;
}

.circle3 {
    width: 15%;
    height: 15%;
    top: -5%;
    right: 5%;
}

.circle4 {
    width: 22%;
    height: 22%;
    bottom: 15%;
    right: -15%;
}

.circle5 {
    width: 7%;
    height: 7%;
    bottom: 5%;
    left: 5%;
}