<section id="my-work">
    <div class="my-work-wrapper">
        <div class="portfolio-headline">
            <h1>My work</h1>
            <h2>Explore a selection of my work here - Interact with projects to see my skills in action.</h2>
        </div>
        @for(project of projects; track $index){
        <div class="portfolio-wrapper" [ngClass]="{'reverse': ($index === 0 || $index === 2), 'middle-container': $index === 1}">
            <div class="description-content">
                <p>{{ project.title }}</p>
                <h3>{{ project.technologies }}</h3>
                <span>{{ project.description }}</span>
                <div class="button-section">
                    <a [href]="project.liveLink" class="test-button"> <button>Live test</button></a>
                    <div class="space-between"></div>
                    <a [href]="project.githubLink" class="github-button"> <button>GitHub</button></a>
                </div>
            </div>
            <div class="project-content">
                <img [src]="project.image" [alt]="project.title">
            </div>
        </div>}
    </div>
</section>