<section>
    <div class="content-wrapper">
        <div class="left-content">
            <div class="headline">
                <h1 class="white-space-nowrap">{{ 'WORK_TOGETHER.LET_WORK' | translate }}</h1>
                <h1>{{ 'WORK_TOGETHER.TOGETHER' | translate }}</h1>
                <h2>{{ 'WORK_TOGETHER.I_AM' | translate }}</h2>
            </div>
            <div class="icons-section">
                <div> 
                    <img src="./../../../assets/img/location-icon.png" alt="Location Icon">
                    <span>{{ 'WORK_TOGETHER.LOCATION' | translate }}</span>
                </div>
                <div> 
                    <img src="./../../../assets/img/remote-icon.png" alt="Remote Icon">
                    <span>{{ 'WORK_TOGETHER.REMOTE' | translate }}</span>
                </div>
            </div>
        </div>
        <div class="right-content">
            <div class="text-content">
                <span>{{ 'WORK_TOGETHER.INTRO' | translate }}</span><br>
                <span>{{ 'WORK_TOGETHER.CONTACT_MESSAGE' | translate }}</span>
                <a href="#contact"><button>{{ 'WORK_TOGETHER.SEND_MESSAGE' | translate }}</button></a>
            </div>
        </div>
    </div>
</section>