section {
    width: 100%;
    max-width: 1920px;
    background-color: white;
    position: relative;

    h1 {
        color: #5988FF;
        font-family: 'Baloo 2';
        font-size: 98px;
    }
}

h2 {
    color: #5988FF;
    font-family: 'Baloo 2';
    font-size: 38px;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper {
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    justify-content: space-between;
    padding-top: 8%;
    padding-bottom: 5%;
}

.left-content {

    span {
        color: #5988FF;
        font-family: 'Montserrat';
    }
}

.right-content {
    display: flex;
    justify-content: flex-end;

    span {
        color: black;
        font-family: 'Montserrat';
        font-size: 23px;
        margin-bottom: 2%;
    }
}

.text-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    position: absolute; 
    border-radius: 50%;
    background: radial-gradient(circle, #5988FF, #0043F0); 
    opacity: 0.8; 
    height: 10%;
    width: 4%;
    top: 3%;
    right: 20%; 
}

.circle1 {
    position: absolute; 
    border-radius: 50%;
    background: radial-gradient(circle, #5988FF, #0043F0); 
    opacity: 0.8; 
    height: 30%;
    width: 12%;
    top: 5%;
    right: 50%; 
}

.icons-section {
    text-align: center;

    img {
        margin-right: 1%;
    }
}

.white-space-nowrap {
    white-space: nowrap;
}