<section id="landing-page">
    <div class="content-wrapper">
        <div class="left-content">
            <img src="./../../../assets/img/G Farb w (1).png" alt="My Foto" class="profile-image">
        </div>
        <div class="right-content">
            <span>{{ 'LANDING_PAGE.HELLO' | translate }}</span>
            <div class="frontend-wrapper">
                <h1 class="first">{{ 'LANDING_PAGE.FRONTEND' | translate }}</h1>
                <h1>{{ 'LANDING_PAGE.DEVELOPER' | translate }}</h1>
            </div>
            <span class="scroll-span">{{ 'LANDING_PAGE.SCROLL' | translate }}</span>
            <div class="scroll-down-line"></div>
            <div class="icon-wrapper">
                <a href="https://github.com/galina-antipin" target="_blank" rel="noopener noreferrer">
                    <img src="./../../../assets/img/github-icon.png" alt="GitHub Icon">
                </a>
                <a href="#contact">
                    <img src="./../../../assets/img/mail-icon.png" alt="E-Mail Icon">
                </a>
                <a href="https://www.linkedin.com/in/galina-antipin-15157532b/" target="_blank"
                    rel="noopener noreferrer">
                    <img src="./../../../assets/img/linkedin-icon.png" alt="LinkedIn Icon">
                </a>
            </div>

        </div>
    </div>
</section>