section {
    height: calc(100vh - 100px);
    width: 100%;
    color: #5988FF;
    display: flex;
    justify-content: center;
    background: url('./../../../assets/img/circle.png'),linear-gradient(to bottom, #FFFFFF, #EAF0FF);
    background-size: 1100px, 100%;
    background-position: -40% 80%;
    background-repeat: no-repeat;
    max-height: 1440px;
    overflow: hidden;
}

h1 {
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 8rem;
}

.headline-top {
    font-size: 8.625rem;
}

span {
    font-family: 'Montserrat';
    font-size: 4rem;
}

.content-wrapper {
    margin-left: 0%;
    margin-right: 8%;
    margin-top: 3%;
    max-width: 1920px;
    max-height: 1440px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.left-content {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    max-height: 1440px;

    img {
        height: 90vh;
        max-height: 1440px;
    }
}

.frontend-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.right-content {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.scroll-span {
    font-size: 1.4375rem;
    margin: 20px 0;
    animation: pulse-animation 1.2s infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.scroll-down-line {
    width: 2px;
    height: 4000px;
    background-color: #5988FF;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;

    img {
        margin: 10px 0;
        transition: transform 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}

@media(min-width:2000px) {
    section {
        background-size: 60%;
    }
}

@media(max-width:1700px) {
    h1 {
        font-size: 6rem;
    }

    .headline-top {
        font-size: 7rem;
    }

    span {
        font-size: 3.8rem;
    }
}

@media(max-width:1617px) {
    section {
        background-image: url('./../../../assets/img/circle.png'),linear-gradient(to bottom, #FFFFFF, #EAF0FF);
        background-size: 1000px, 100%;
        background-position: -40% 80%;
    }
}

@media(max-width:1507px) {
    section {
        background-image: url('./../../../assets/img/circle.png'),linear-gradient(to bottom, #FFFFFF, #EAF0FF);
        background-size: 900px, 100%;
        background-position: -40% 80%;
    }
}

@media(max-width:1394px) {
    section {
        background-image: url('./../../../assets/img/circle.png'),linear-gradient(to bottom, #FFFFFF, #EAF0FF);
        background-size: 850px, 100%;
        background-position: -40% 80%;
    }
}

@media(max-width:1336px) {
    h1 {
        font-size: 5rem;
    }

    .headline-top {
        font-size: 6rem;
    }

    span {
        font-size: 3rem;
    }
}

@media(max-width:1263px) {
    section {
        background-image: url('./../../../assets/img/circle.png'),linear-gradient(to bottom, #FFFFFF, #EAF0FF);
        background-size: 800px, 100%;
        background-position: -40% 80%;
    }

    .left-content {
        img {
            height: 80vh;
        }
    }
}

@media(max-width:1203px) {
    section {
        background-image: url('./../../../assets/img/circle.png'),linear-gradient(to bottom, #FFFFFF, #EAF0FF);
        background-size: 750px, 100%;
        background-position: -40% 80%;
    }

    h1 {
        font-size: 4.5rem;
    }

    .headline-top {
        font-size: 5.4rem;
    }

    span {
        font-size: 2.5rem;
    }
}

@media(max-width:1112px) {
    section {
        background-image: url('./../../../assets/img/circle.png'),linear-gradient(to bottom, #FFFFFF, #EAF0FF);
        background-size: 700px, 100%;
        background-position: -40% 80%;
    }

    h1 {
        font-size: 4.5rem;
    }

    .headline-top {
        font-size: 5.4rem;
    }

    span {
        font-size: 2.5rem;
    }
}

@media(max-width:1000px) {
    section {
        background-image: url('./../../../assets/img/circle.png'),linear-gradient(to bottom, #FFFFFF, #EAF0FF);
        background-size: 650px, 100%;
        background-position: -40% 80%;
    }

    h1 {
        font-size: 4rem;
    }

    .headline-top {
        font-size: 5rem;
    }

    span {
        font-size: 2rem;
    }

    .icon-wrapper {
        display: none;
    }
}

@media(max-width:950px) {
    section {
        background-image: url('./../../../assets/img/circle.png'),linear-gradient(to bottom, #FFFFFF, #EAF0FF);
        background-size: 900px, 100%;
        background-position: -150px -200px, center;
        color: white;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    .scroll-down-line,
    .scroll-span {
        display: none;
    }

    h1 {
        font-size: 7rem;
    }

    .headline-top {
        font-size: 6rem;
    }

    span {
        font-size: 2.8rem;
    }

    .icon-wrapper {
        display: none;
    }

    .left-content {
        display: flex;
        align-items: flex-end;

        img {
            height: 55vh;
        }
    }
}

@media(max-width:700px) {
    h1 {
        font-size: 6.5rem;
    }

    .headline-top {
        font-size: 5.5rem;
    }

    span {
        font-size: 2.8rem;
    }

    .content-wrapper {
        margin-left: 3%;
    }
}

@media(max-width:618px) {
    h1 {
        font-size: 5rem;
    }

    .headline-top {
        font-size: 4.5rem;
    }

    span {
        font-size: 2rem;
    }

    .right-content {
        margin-top: 160px;
        display: flex;
        align-items: flex-start;
        margin-left: 2%;
    }

    .frontend-wrapper {
        display: flex;
        align-items: flex-start;
    }

    .content-wrapper {
        margin: 0;
    }
}

@media(max-width:480px) {
    h1 {
        font-size: 4rem;
    }

    .headline-top {
        font-size: 3.5rem;
    }

    span {
        font-size: 2rem;
    }
}

@media(max-width:410px) {
    .left-content {

        img {
            height: 45vh;
        }
    }

    h1 {
        font-size: 3.2rem;
    }

    .headline-top {
        font-size: 3.2rem;
    }

    span {
        font-size: 1.8rem;
    }
}

@media(max-width:340px) {
    .left-content {
        width: 95%;

        img {
            height: 40vh;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media(max-height:667px) {
    .left-content {
        img {
            display: none;
        }
    }
}

@media(max-height:375px) {
    h1 {
        font-size: 5rem;
    }

    .headline-top {
        font-size: 4rem;
    }

    span {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 834px) and (max-width: 1024px) and (orientation: portrait) {
    .left-content {
        img {
            height: 55vh;
        }
    }
}