section {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    color: black;
    font-size: 1rem;

    h2 {
        font-family: 'Baloo 2';
        font-weight: 800;
        font-size: 4.25rem;
        color: #5988FF;
    }

    h3 {
        font-weight: 400;
        color: #5988FF;
    }
}

.wrapper {
    max-width: 1920px;
    max-height: 1440px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media (max-width: 850px) {
    .wrapper {
        margin-left: 3%;
        margin-right: 3%;
    }

    h2 {
        font-size: 4rem !important;
    }

    h3 {
        font-size: 1.1rem;
    }
}

@media (max-width: 725px) {
    .wrapper {
        margin-left: 3%;
        margin-right: 3%;
    }

    h2 {
        font-size: 3rem !important;
    }

    span {
        font-size: 1rem;
    }
}

@media (max-width: 544px) {

    h2 {
        font-size: 2rem !important;
    }

    span {
        font-size: 0.8rem;
    }
}

@media (max-width: 367px) {

    h2 {
        font-size: 1.7rem !important;
    }
}