* {
    color: white;
}

footer {
    background: radial-gradient(circle at right, #5988FF, #5988FF, #0043F0);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;

    a {
        cursor: pointer;
        text-decoration: none;
        font-size: 1.125rem;
        font-family: 'Montserrat';
    }
}

.footer-content {
    max-width: 1920px;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin-right: 70px;
    }
}

.footer-right img {
    padding: 15px;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

p {
    font-size: 1.4375rem;
    font-family: 'Montserrat';
}

.logo {
    width: 120px;
}

@media (max-width: 851px) {
    p {
        font-size: 1.1rem;
    }
}

@media(max-width:720px) {
    .footer-top{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-content {
        margin-left: 3%;
        margin-right: 3% ;
    }

    .footer-center {
        padding-bottom: 10px;
    }

    .footer-right img {
        margin-left: 0px;
        padding: 10px;
    }

    .logo {
        width: 100px;
    }

    .footer-bottom a {
        margin-right: 0;
    }
}