<footer>
    <div class="footer-content">
        <div class="footer-left">
            <p>Galina</p>
          
        </div>
        <div class="footer-center">
            <p>© Galina Antipin 2024</p>
              <a routerLink="imprint">Imprint</a>
        </div>
        <div class="footer-right">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img src='./../../../../assets/img/github-icon-white.png'alt="GitHub" />
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
                <img src='./../../../../assets/img/linkedin-icon-white.png' alt="LinkedIn" />
            </a>
            <a href="#contact">
                <img src='./../../../../assets/img/mail-icon-white.png' alt="Email" />
            </a>
        </div>
    </div>
</footer>
