<section id="imprint">

    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
    
    <h2>Impressum</h2>
    <br>
    <span>Galina Antipin</span>

    <span>Schachtstraße 20</span>
    <span>06577 Oberheldrungen</span>
    <br> <span> Kontakt:</span>
    <span> galina.antipin&#64;gmail.com</span>
    <span> 0172 2594032</span>

    <br>
    <span>Erstellt von impressum-generator.info </span>
    <span>powered by abfindungshero.de</span>
    <br>
    <span>Angaben gemäß Par. 5 DDG</span>

</section>
