section {
    height: calc(100vh - 300px);
    width: 100%;
    font-family: 'Montserrat';
    background-image: url('./../../assets/img/circle.png'), url('/../../assets/img/circle.png'), url('/../../assets/img/circle.png');
    background-size: 12%, 15%;
    background-repeat: no-repeat;
    background-position: center -18%, bottom 15% right 3%, 20% 90%;
}

.wrapper {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 8%;
    margin-right: 8%;
    flex: 1;
}

h2 {
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 48px;
    color: #5988FF;
}

span {
    font-family: 'Montserrat';
    font-size: 18px;
    color: black;
}