section {
    margin-top: 5%;
    flex: 1;
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 8%;
    font-family: 'Montserrat';
    position: relative;
    overflow: hidden;
}

.circle {
    position: absolute; 
    border-radius: 50%;
    background: radial-gradient(circle, #5988FF, #0043F0); 
    opacity: 0.8; 
}

.circle1 {
    height: 22%;
    width: 10%;
    bottom: 10%;
    left: 5%; 
}

.circle2 {
    width: 5%;
    height: 12%; 
    top: 10%; 
    right: 35%;
}

.circle3 {
    width: 10%; 
    height: 24%;
    top: 60%; 
    right: 5%; 
}

h2 {
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 48px;
    color: #5988FF;
}