section {
    height: calc(100vh - 300px);
    width: 100%;
    font-family: 'Montserrat';
    background: url('/../../assets/img/circle.png'), url('/../../assets/img/circle.png'), linear-gradient(to bottom, #FFFFFF, #EAF0FF);
    background-size:  15%, 5%, 100%;
    background-repeat: no-repeat;
    background-position:  bottom 15% right 3%, 20% 90%;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 8%;
    margin-right: 8%;
}

h2 {
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 3rem;
    color: #5988FF;
}

span {
    font-family: 'Montserrat';
    font-size: 1.125rem;
    color: black;
}

@media (max-width: 406px){
    .wrapper{
        margin-left:2%;
        margin-right: 2%;
        align-items: center;
    }
}

@media(max-height:430px){
    section {
        height:100vh;
    }
}
