<section>
    <div class="content-wrapper">
        <div class="headline">
            <h1>{{ 'REFERENCES.TITLE' | translate }}</h1>
            <span>{{ 'REFERENCES.SUBTITLE' | translate }}</span>
        </div>
        <div class="references">
            @for (reference of references; track $index) {
            <div class="reference-card">
                <h3>{{ reference.name }}</h3>
                <h4>{{ 'REFERENCES.PROJECT' | translate }} {{ reference.project }}</h4>
                <br>
                <p>{{ 'REFERENCES.REFERENCE_' + ($index + 1) | translate }}</p>
            </div>
            }
        </div>
    </div>
</section>